@charset "utf-8";
/* CSS Document */
body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
    margin:0;
    padding:0;
}
html body{
    font-family: "微软雅黑",Arial;
    background-color: #f1f2f7;
    height: 100%;
    /*overflow: hidden;*/

}s

ul,ol{
    list-style:none;
}
img{
    border: 0;
}
a{
    text-decoration: none;
}

/*头部*/
.cephalosome{
    background: white;
    width: 100%;
    height: 59px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
.cepha{
    width: 408px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.loso{
    display: flex;
    align-items: center;
}
.loso p{
    font-size: 12px;
    color: #2a373f;
}
.loso b{
    font-size: 12px;
    color: #ff5a80;
    font-weight: 100;
}
.cep{
    font-size: 14px;
    color: #797979;
}
.icon span{
    display: inline-block;
    width: 37px;
    height: 37px;
    border:1px solid #f1f0f5;
    border-radius: 5px;
    text-align: center;
    line-height: 37px;
}
.some{
    display: flex;
    align-items: center;
    width: 225px;
    justify-content: space-around;
}
.sousuo{
    font-size: 36px;
    color: #d5d5d5;
}
.imgbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 154px;
    height: 54px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
}
.imgbox b{
    font-size: 12px;
    color: #3d4d5c;
    font-weight: 100;
}
/*内容*/
.details{
    display: flex;
    width: 100%;
    height: 90%;
}
/*左边*/
.the_left{
    width: 180px;
    height: 100%;
    background: #2b3541;
    position: fixed;
    top: 59px;
    left: 0px;
}
.note{
    width: 100%;
    height: 62px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 5px;
}
.note b{
    font-weight: 100;
    color: #8b97a3;
    font-size: 12px;
}

.you{
    width: 110px;
    display: flex;
    align-items: center;
}
.you .youbiao{
    font-size: 20px;
    color: #8f969e;
}
/*右边*/
.the_right{
    width: 87%;
    display: flex;
    margin-top: 39px;
    margin-left: 180px;
    display: flex;
    flex-direction: column;
    /*overflow:hidden;*/
}
.rightbox .wzbox1{
    width: 100%;
    background: #7186a3;
    height: 52px;
}
.rightbox{
    width: 100%;
    height: 10%;
}
.rightbox .wzbox1 a{
    padding: 15px 22px;
    color: #f1f8ff;
    font-size: 12px;
    line-height: 52px   ;
}
.rightbox .wzbox1 a:hover{
    background: #f1f2f7;
    color: #7d7e83;
}

.box_left{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: left;
}
.box_right{
    width: 50%;
    float: left;
}
.doc{
    display: flex;
    height: 53px;
    justify-content: flex-start;
    align-items: center;
}
.doc b{
    font-size: 10px;
    color: #6a6a6a;
    font-weight: 100;
}
.eunt{
    width: 95%;
    height: 404px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    flex-direction: column;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 20px;

}
@media screen and (max-width: 760px){
    .the_left{
        display: none;
    }
    .details{
        flex-direction: column;
    }
    .the_right{
        margin: 39px 0px 0px 0px;
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
    .box_left{
        width: 98%;
        margin: 0;
    }
    .box_right{
        width: 98%;
        margin: 0;
    }
}