@charset "utf-8";
/* CSS Document */
body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
    margin:0;
    padding:0;
}
html body{
    font-family: "微软雅黑",Arial;
    background-color: #f1f2f7;
    height: 100%;
    vertical-align: middle;
}

ul,ol{
    list-style:none;
}
img{
    border: 0;
}
a{
    text-decoration: none;
}
/*头部*/
.cephalosome{
    background: white;
    width: 100%;
    height: 59px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
}
.cepha{
    width: 408px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.loso{
    display: flex;
    align-items: center;
}
.loso p{
    font-size: 12px;
    color: #2a373f;
}
.loso b{
    font-size: 12px;
    color: #ff5a80;
    font-weight: 100;
}
.cep{
    font-size: 14px;
    color: #797979;
}
.icon span{
    display: inline-block;
    width: 37px;
    height: 37px;
    border:1px solid #f1f0f5;
    border-radius: 5px;
    text-align: center;
    line-height: 37px;
}
.some{
    display: flex;
    align-items: center;
    width: 225px;
    justify-content: space-around;
}
.sousuo{
    font-size: 36px;
    color: #d5d5d5;
}
.imgbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 154px;
    height: 54px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
}
.imgbox b{
    font-size: 12px;
    color: #3d4d5c;
    font-weight: 100;
}
/*内容*/
.details{
    display: flex;
    width: 100%;
    height: 90%;
}
/*左边*/
.the_left{
    width: 180px;
    height: 100%;
    background: #2b3541;
    position: fixed;
    top: 59px;
    left: 0px;
}
.note{
    width: 100%;
    height: 62px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 5px;
}
.note b{
    font-weight: 100;
    color: #8b97a3;
    font-size: 12px;
}
.you{
    width: 110px;
    display: flex;
    align-items: center;
}
.you .youbiao{
    font-size: 20px;
    color: #8f969e;
}
/*右边*/
.the_right{
    width: 87%;
    display: flex;
    margin-top: 79px;
    margin-left: 200px;
    /*overflow:hidden;*/
}
.cont{
    width: 95%;
    height: 100%;
    background: white;
    border-radius: 5px;
    margin-top: 20px;
}
.runt{
    width: 100%;
    height: 53px;
    border-bottom: 1px solid  #f3f3f3;
}
.runt b{
    font-size: 8px;
    color: #757575;
    font-weight: 100;
    line-height: 53px;
    margin-left: 20px;

}
.spanbox{
    display: flex;
    justify-content: center;
    padding: 32px 0px   ;
    background: white;
    width: 100%;
    height: 30%;
}
.spanbox span{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background: #a9d86e;
    color: #e1ffc0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footbox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.foot{
    width: 30%;
    height: 40px;
    margin-left: 20px;

}
.foot b{
    color: #888481;
    font-size: 8px;
    font-weight: 100;
}
.fobox{
    width: 70%;
    margin-right: 20px;
}
.fobox input{
    width: 100%;
    height:40px;
    border:1px solid #dfdfdf;
    border-radius: 5px;
}
.food{
    display: flex;
    width: 100%;
    justify-content: flex-end;

    padding: 20px 0px;
}
.food a{
    width: 70px;
    height: 43px;
    color: #fff;
    background: #51cdf1;
    border-radius: 5px;
    line-height: 43px;
    text-align: center;
    font-size: 12px;
    margin-right: 20px;
}